body {
	margin: 0px;
	animation-direction: normal;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: blink;
	animation-play-state: running;
	-moz-animation-direction: normal;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: blink;
	-moz-animation-play-state: running;
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: blink;
	-webkit-animation-play-state: running;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	font-size: 10em;
	padding: 20px;
	font-family: sans-serif, Helvetica;
}

@keyframes blink {
	  0% { background-color: hsl(0.0,    100%, 50%); }
	  1% { background-color: hsl(3.6,    100%, 50%); }
	  2% { background-color: hsl(7.2,    100%, 50%); }
	  3% { background-color: hsl(10.8,   100%, 50%); }
	  4% { background-color: hsl(14.4,   100%, 50%); }
	  5% { background-color: hsl(18.0,   100%, 50%); }
	  6% { background-color: hsl(21.6,   100%, 50%); }
	  7% { background-color: hsl(25.2,   100%, 50%); }
	  8% { background-color: hsl(28.8,   100%, 50%); }
	  9% { background-color: hsl(32.4,   100%, 50%); }
	 10% { background-color: hsl(36.0,   100%, 50%); }
	 11% { background-color: hsl(39.6,   100%, 50%); }
	 12% { background-color: hsl(43.2,   100%, 50%); }
	 13% { background-color: hsl(46.8,   100%, 50%); }
	 14% { background-color: hsl(50.4,   100%, 50%); }
	 15% { background-color: hsl(54.0,   100%, 50%); }
	 16% { background-color: hsl(57.6,   100%, 50%); }
	 17% { background-color: hsl(61.2,   100%, 50%); }
	 18% { background-color: hsl(64.8,   100%, 50%); }
	 19% { background-color: hsl(68.4,   100%, 50%); }
	 20% { background-color: hsl(72.0,   100%, 50%); }
	 21% { background-color: hsl(75.6,   100%, 50%); }
	 22% { background-color: hsl(79.2,   100%, 50%); }
	 23% { background-color: hsl(82.8,   100%, 50%); }
	 24% { background-color: hsl(86.4,   100%, 50%); }
	 25% { background-color: hsl(90.0,   100%, 50%); }
	 26% { background-color: hsl(93.6,   100%, 50%); }
	 27% { background-color: hsl(97.2,   100%, 50%); }
	 28% { background-color: hsl(100.8,  100%, 50%); }
	 29% { background-color: hsl(104.4,  100%, 50%); }
	 30% { background-color: hsl(108.0,  100%, 50%); }
	 31% { background-color: hsl(111.6,  100%, 50%); }
	 32% { background-color: hsl(115.2,  100%, 50%); }
	 33% { background-color: hsl(118.8,  100%, 50%); }
	 34% { background-color: hsl(122.4,  100%, 50%); }
	 35% { background-color: hsl(126.0,  100%, 50%); }
	 36% { background-color: hsl(129.6,  100%, 50%); }
	 37% { background-color: hsl(133.2,  100%, 50%); }
	 38% { background-color: hsl(136.8,  100%, 50%); }
	 39% { background-color: hsl(140.4,  100%, 50%); }
	 40% { background-color: hsl(144.0,  100%, 50%); }
	 41% { background-color: hsl(147.6,  100%, 50%); }
	 42% { background-color: hsl(151.2,  100%, 50%); }
	 43% { background-color: hsl(154.8,  100%, 50%); }
	 44% { background-color: hsl(158.4,  100%, 50%); }
	 45% { background-color: hsl(162.0,  100%, 50%); }
	 46% { background-color: hsl(165.6,  100%, 50%); }
	 47% { background-color: hsl(169.2,  100%, 50%); }
	 48% { background-color: hsl(172.8,  100%, 50%); }
	 49% { background-color: hsl(176.4,  100%, 50%); }
	 50% { background-color: hsl(180.0,  100%, 50%); }
	 51% { background-color: hsl(183.6,  100%, 50%); }
	 52% { background-color: hsl(187.2,  100%, 50%); }
	 53% { background-color: hsl(190.8,  100%, 50%); }
	 54% { background-color: hsl(194.4,  100%, 50%); }
	 55% { background-color: hsl(198.0,  100%, 50%); }
	 56% { background-color: hsl(201.6,  100%, 50%); }
	 57% { background-color: hsl(205.2,  100%, 50%); }
	 58% { background-color: hsl(208.8,  100%, 50%); }
	 59% { background-color: hsl(212.4,  100%, 50%); }
	 60% { background-color: hsl(216.0,  100%, 50%); }
	 61% { background-color: hsl(219.6,  100%, 50%); }
	 62% { background-color: hsl(223.2,  100%, 50%); }
	 63% { background-color: hsl(226.8,  100%, 50%); }
	 64% { background-color: hsl(230.4,  100%, 50%); }
	 65% { background-color: hsl(234.0,  100%, 50%); }
	 66% { background-color: hsl(237.6,  100%, 50%); }
	 67% { background-color: hsl(241.2,  100%, 50%); }
	 68% { background-color: hsl(244.8,  100%, 50%); }
	 69% { background-color: hsl(248.4,  100%, 50%); }
	 70% { background-color: hsl(252.0,  100%, 50%); }
	 71% { background-color: hsl(255.6,  100%, 50%); }
	 72% { background-color: hsl(259.2,  100%, 50%); }
	 73% { background-color: hsl(262.8,  100%, 50%); }
	 74% { background-color: hsl(266.4,  100%, 50%); }
	 75% { background-color: hsl(270.0,  100%, 50%); }
	 76% { background-color: hsl(273.6,  100%, 50%); }
	 77% { background-color: hsl(277.2,  100%, 50%); }
	 78% { background-color: hsl(280.8,  100%, 50%); }
	 79% { background-color: hsl(284.4,  100%, 50%); }
	 80% { background-color: hsl(288.0,  100%, 50%); }
	 81% { background-color: hsl(291.6,  100%, 50%); }
	 82% { background-color: hsl(295.2,  100%, 50%); }
	 83% { background-color: hsl(298.8,  100%, 50%); }
	 84% { background-color: hsl(302.4,  100%, 50%); }
	 85% { background-color: hsl(306.0,  100%, 50%); }
	 86% { background-color: hsl(309.6,  100%, 50%); }
	 87% { background-color: hsl(313.2,  100%, 50%); }
	 88% { background-color: hsl(316.8,  100%, 50%); }
	 89% { background-color: hsl(320.4,  100%, 50%); }
	 90% { background-color: hsl(324.0,  100%, 50%); }
	 91% { background-color: hsl(327.6,  100%, 50%); }
	 92% { background-color: hsl(331.2,  100%, 50%); }
	 93% { background-color: hsl(334.8,  100%, 50%); }
	 94% { background-color: hsl(338.4,  100%, 50%); }
	 95% { background-color: hsl(342.0,  100%, 50%); }
	 96% { background-color: hsl(345.6,  100%, 50%); }
	 97% { background-color: hsl(349.2,  100%, 50%); }
	 98% { background-color: hsl(352.8,  100%, 50%); }
	 99% { background-color: hsl(356.4,  100%, 50%); }
	100% { background-color: hsl(360.0,  100%, 50%); }

}

@-moz-keyframes blink {
	  0% { background-color: hsl(0.0,    100%, 50%); }
	  1% { background-color: hsl(3.6,    100%, 50%); }
	  2% { background-color: hsl(7.2,    100%, 50%); }
	  3% { background-color: hsl(10.8,   100%, 50%); }
	  4% { background-color: hsl(14.4,   100%, 50%); }
	  5% { background-color: hsl(18.0,   100%, 50%); }
	  6% { background-color: hsl(21.6,   100%, 50%); }
	  7% { background-color: hsl(25.2,   100%, 50%); }
	  8% { background-color: hsl(28.8,   100%, 50%); }
	  9% { background-color: hsl(32.4,   100%, 50%); }
	 10% { background-color: hsl(36.0,   100%, 50%); }
	 11% { background-color: hsl(39.6,   100%, 50%); }
	 12% { background-color: hsl(43.2,   100%, 50%); }
	 13% { background-color: hsl(46.8,   100%, 50%); }
	 14% { background-color: hsl(50.4,   100%, 50%); }
	 15% { background-color: hsl(54.0,   100%, 50%); }
	 16% { background-color: hsl(57.6,   100%, 50%); }
	 17% { background-color: hsl(61.2,   100%, 50%); }
	 18% { background-color: hsl(64.8,   100%, 50%); }
	 19% { background-color: hsl(68.4,   100%, 50%); }
	 20% { background-color: hsl(72.0,   100%, 50%); }
	 21% { background-color: hsl(75.6,   100%, 50%); }
	 22% { background-color: hsl(79.2,   100%, 50%); }
	 23% { background-color: hsl(82.8,   100%, 50%); }
	 24% { background-color: hsl(86.4,   100%, 50%); }
	 25% { background-color: hsl(90.0,   100%, 50%); }
	 26% { background-color: hsl(93.6,   100%, 50%); }
	 27% { background-color: hsl(97.2,   100%, 50%); }
	 28% { background-color: hsl(100.8,  100%, 50%); }
	 29% { background-color: hsl(104.4,  100%, 50%); }
	 30% { background-color: hsl(108.0,  100%, 50%); }
	 31% { background-color: hsl(111.6,  100%, 50%); }
	 32% { background-color: hsl(115.2,  100%, 50%); }
	 33% { background-color: hsl(118.8,  100%, 50%); }
	 34% { background-color: hsl(122.4,  100%, 50%); }
	 35% { background-color: hsl(126.0,  100%, 50%); }
	 36% { background-color: hsl(129.6,  100%, 50%); }
	 37% { background-color: hsl(133.2,  100%, 50%); }
	 38% { background-color: hsl(136.8,  100%, 50%); }
	 39% { background-color: hsl(140.4,  100%, 50%); }
	 40% { background-color: hsl(144.0,  100%, 50%); }
	 41% { background-color: hsl(147.6,  100%, 50%); }
	 42% { background-color: hsl(151.2,  100%, 50%); }
	 43% { background-color: hsl(154.8,  100%, 50%); }
	 44% { background-color: hsl(158.4,  100%, 50%); }
	 45% { background-color: hsl(162.0,  100%, 50%); }
	 46% { background-color: hsl(165.6,  100%, 50%); }
	 47% { background-color: hsl(169.2,  100%, 50%); }
	 48% { background-color: hsl(172.8,  100%, 50%); }
	 49% { background-color: hsl(176.4,  100%, 50%); }
	 50% { background-color: hsl(180.0,  100%, 50%); }
	 51% { background-color: hsl(183.6,  100%, 50%); }
	 52% { background-color: hsl(187.2,  100%, 50%); }
	 53% { background-color: hsl(190.8,  100%, 50%); }
	 54% { background-color: hsl(194.4,  100%, 50%); }
	 55% { background-color: hsl(198.0,  100%, 50%); }
	 56% { background-color: hsl(201.6,  100%, 50%); }
	 57% { background-color: hsl(205.2,  100%, 50%); }
	 58% { background-color: hsl(208.8,  100%, 50%); }
	 59% { background-color: hsl(212.4,  100%, 50%); }
	 60% { background-color: hsl(216.0,  100%, 50%); }
	 61% { background-color: hsl(219.6,  100%, 50%); }
	 62% { background-color: hsl(223.2,  100%, 50%); }
	 63% { background-color: hsl(226.8,  100%, 50%); }
	 64% { background-color: hsl(230.4,  100%, 50%); }
	 65% { background-color: hsl(234.0,  100%, 50%); }
	 66% { background-color: hsl(237.6,  100%, 50%); }
	 67% { background-color: hsl(241.2,  100%, 50%); }
	 68% { background-color: hsl(244.8,  100%, 50%); }
	 69% { background-color: hsl(248.4,  100%, 50%); }
	 70% { background-color: hsl(252.0,  100%, 50%); }
	 71% { background-color: hsl(255.6,  100%, 50%); }
	 72% { background-color: hsl(259.2,  100%, 50%); }
	 73% { background-color: hsl(262.8,  100%, 50%); }
	 74% { background-color: hsl(266.4,  100%, 50%); }
	 75% { background-color: hsl(270.0,  100%, 50%); }
	 76% { background-color: hsl(273.6,  100%, 50%); }
	 77% { background-color: hsl(277.2,  100%, 50%); }
	 78% { background-color: hsl(280.8,  100%, 50%); }
	 79% { background-color: hsl(284.4,  100%, 50%); }
	 80% { background-color: hsl(288.0,  100%, 50%); }
	 81% { background-color: hsl(291.6,  100%, 50%); }
	 82% { background-color: hsl(295.2,  100%, 50%); }
	 83% { background-color: hsl(298.8,  100%, 50%); }
	 84% { background-color: hsl(302.4,  100%, 50%); }
	 85% { background-color: hsl(306.0,  100%, 50%); }
	 86% { background-color: hsl(309.6,  100%, 50%); }
	 87% { background-color: hsl(313.2,  100%, 50%); }
	 88% { background-color: hsl(316.8,  100%, 50%); }
	 89% { background-color: hsl(320.4,  100%, 50%); }
	 90% { background-color: hsl(324.0,  100%, 50%); }
	 91% { background-color: hsl(327.6,  100%, 50%); }
	 92% { background-color: hsl(331.2,  100%, 50%); }
	 93% { background-color: hsl(334.8,  100%, 50%); }
	 94% { background-color: hsl(338.4,  100%, 50%); }
	 95% { background-color: hsl(342.0,  100%, 50%); }
	 96% { background-color: hsl(345.6,  100%, 50%); }
	 97% { background-color: hsl(349.2,  100%, 50%); }
	 98% { background-color: hsl(352.8,  100%, 50%); }
	 99% { background-color: hsl(356.4,  100%, 50%); }
	100% { background-color: hsl(360.0,  100%, 50%); }
}

@-webkit-keyframes blink {
	  0% { background-color: hsl(0.0,    100%, 50%); }
	  1% { background-color: hsl(3.6,    100%, 50%); }
	  2% { background-color: hsl(7.2,    100%, 50%); }
	  3% { background-color: hsl(10.8,   100%, 50%); }
	  4% { background-color: hsl(14.4,   100%, 50%); }
	  5% { background-color: hsl(18.0,   100%, 50%); }
	  6% { background-color: hsl(21.6,   100%, 50%); }
	  7% { background-color: hsl(25.2,   100%, 50%); }
	  8% { background-color: hsl(28.8,   100%, 50%); }
	  9% { background-color: hsl(32.4,   100%, 50%); }
	 10% { background-color: hsl(36.0,   100%, 50%); }
	 11% { background-color: hsl(39.6,   100%, 50%); }
	 12% { background-color: hsl(43.2,   100%, 50%); }
	 13% { background-color: hsl(46.8,   100%, 50%); }
	 14% { background-color: hsl(50.4,   100%, 50%); }
	 15% { background-color: hsl(54.0,   100%, 50%); }
	 16% { background-color: hsl(57.6,   100%, 50%); }
	 17% { background-color: hsl(61.2,   100%, 50%); }
	 18% { background-color: hsl(64.8,   100%, 50%); }
	 19% { background-color: hsl(68.4,   100%, 50%); }
	 20% { background-color: hsl(72.0,   100%, 50%); }
	 21% { background-color: hsl(75.6,   100%, 50%); }
	 22% { background-color: hsl(79.2,   100%, 50%); }
	 23% { background-color: hsl(82.8,   100%, 50%); }
	 24% { background-color: hsl(86.4,   100%, 50%); }
	 25% { background-color: hsl(90.0,   100%, 50%); }
	 26% { background-color: hsl(93.6,   100%, 50%); }
	 27% { background-color: hsl(97.2,   100%, 50%); }
	 28% { background-color: hsl(100.8,  100%, 50%); }
	 29% { background-color: hsl(104.4,  100%, 50%); }
	 30% { background-color: hsl(108.0,  100%, 50%); }
	 31% { background-color: hsl(111.6,  100%, 50%); }
	 32% { background-color: hsl(115.2,  100%, 50%); }
	 33% { background-color: hsl(118.8,  100%, 50%); }
	 34% { background-color: hsl(122.4,  100%, 50%); }
	 35% { background-color: hsl(126.0,  100%, 50%); }
	 36% { background-color: hsl(129.6,  100%, 50%); }
	 37% { background-color: hsl(133.2,  100%, 50%); }
	 38% { background-color: hsl(136.8,  100%, 50%); }
	 39% { background-color: hsl(140.4,  100%, 50%); }
	 40% { background-color: hsl(144.0,  100%, 50%); }
	 41% { background-color: hsl(147.6,  100%, 50%); }
	 42% { background-color: hsl(151.2,  100%, 50%); }
	 43% { background-color: hsl(154.8,  100%, 50%); }
	 44% { background-color: hsl(158.4,  100%, 50%); }
	 45% { background-color: hsl(162.0,  100%, 50%); }
	 46% { background-color: hsl(165.6,  100%, 50%); }
	 47% { background-color: hsl(169.2,  100%, 50%); }
	 48% { background-color: hsl(172.8,  100%, 50%); }
	 49% { background-color: hsl(176.4,  100%, 50%); }
	 50% { background-color: hsl(180.0,  100%, 50%); }
	 51% { background-color: hsl(183.6,  100%, 50%); }
	 52% { background-color: hsl(187.2,  100%, 50%); }
	 53% { background-color: hsl(190.8,  100%, 50%); }
	 54% { background-color: hsl(194.4,  100%, 50%); }
	 55% { background-color: hsl(198.0,  100%, 50%); }
	 56% { background-color: hsl(201.6,  100%, 50%); }
	 57% { background-color: hsl(205.2,  100%, 50%); }
	 58% { background-color: hsl(208.8,  100%, 50%); }
	 59% { background-color: hsl(212.4,  100%, 50%); }
	 60% { background-color: hsl(216.0,  100%, 50%); }
	 61% { background-color: hsl(219.6,  100%, 50%); }
	 62% { background-color: hsl(223.2,  100%, 50%); }
	 63% { background-color: hsl(226.8,  100%, 50%); }
	 64% { background-color: hsl(230.4,  100%, 50%); }
	 65% { background-color: hsl(234.0,  100%, 50%); }
	 66% { background-color: hsl(237.6,  100%, 50%); }
	 67% { background-color: hsl(241.2,  100%, 50%); }
	 68% { background-color: hsl(244.8,  100%, 50%); }
	 69% { background-color: hsl(248.4,  100%, 50%); }
	 70% { background-color: hsl(252.0,  100%, 50%); }
	 71% { background-color: hsl(255.6,  100%, 50%); }
	 72% { background-color: hsl(259.2,  100%, 50%); }
	 73% { background-color: hsl(262.8,  100%, 50%); }
	 74% { background-color: hsl(266.4,  100%, 50%); }
	 75% { background-color: hsl(270.0,  100%, 50%); }
	 76% { background-color: hsl(273.6,  100%, 50%); }
	 77% { background-color: hsl(277.2,  100%, 50%); }
	 78% { background-color: hsl(280.8,  100%, 50%); }
	 79% { background-color: hsl(284.4,  100%, 50%); }
	 80% { background-color: hsl(288.0,  100%, 50%); }
	 81% { background-color: hsl(291.6,  100%, 50%); }
	 82% { background-color: hsl(295.2,  100%, 50%); }
	 83% { background-color: hsl(298.8,  100%, 50%); }
	 84% { background-color: hsl(302.4,  100%, 50%); }
	 85% { background-color: hsl(306.0,  100%, 50%); }
	 86% { background-color: hsl(309.6,  100%, 50%); }
	 87% { background-color: hsl(313.2,  100%, 50%); }
	 88% { background-color: hsl(316.8,  100%, 50%); }
	 89% { background-color: hsl(320.4,  100%, 50%); }
	 90% { background-color: hsl(324.0,  100%, 50%); }
	 91% { background-color: hsl(327.6,  100%, 50%); }
	 92% { background-color: hsl(331.2,  100%, 50%); }
	 93% { background-color: hsl(334.8,  100%, 50%); }
	 94% { background-color: hsl(338.4,  100%, 50%); }
	 95% { background-color: hsl(342.0,  100%, 50%); }
	 96% { background-color: hsl(345.6,  100%, 50%); }
	 97% { background-color: hsl(349.2,  100%, 50%); }
	 98% { background-color: hsl(352.8,  100%, 50%); }
	 99% { background-color: hsl(356.4,  100%, 50%); }
	100% { background-color: hsl(360.0,  100%, 50%); }
}
